
$border: 5px;
$spacing: 5px;
$small-spacing: $spacing / 2;

aurelia-tags-input {
  display: block;
  overflow: hidden;
  
  width: 100%;
  margin: 10px 0;

  border: 1px solid #9e9e9e;  
  padding: $small-spacing;  
  border-radius: $border;
}

aurelia-tags-input tag-input {
  display: inline-block;
  position: relative;

  font-weight: lighter;
  color: #fff;
  background: #42a5f5;
  
  max-width: 150px;
  border-radius: $border;
  padding: $spacing;
  margin: $small-spacing 0;

  
  .inner-input {
    margin: 0;
    display: inline-block;
    min-width: 30px;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;

    &:focus {
      outline: none;  
    }
  }
  

  .close-input {
    display: inline-block;
    padding-left: $small-spacing;
    padding-right: $spacing;
    vertical-align: top;

    &:hover {
      cursor: pointer;
    }
  }


  .fake-edit {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  
}

aurelia-tags-input tag-input.editing {
  background: transparent;
  color: #000;
  font-weight: normal;
}
